@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
:root {
  --main-bg-color: rgb(255, 255, 255);
  --main-text-color: rgb(0, 0, 0);
  --button-color-1: #3b48fc;
  --button-color-2: #cfcfcf;
  --modal-bg-color: #ffffff;
  --border-color: #dbdbdb;
  --secondary-text-color: #999;
  --secondary-text-dark: #262626;
  --accent-color: #ed4956;
  --button-hover-color: #0081d4;
  --scrollbar-color: #ccc;
  --hover-bg-color: rgba(0, 0, 0, 0.05);
}

body.dark {
  --main-bg-color: rgb(0, 0, 0);
  --main-text-color: rgb(255, 255, 255);
  --button-color-1: #3b48fc;
  --button-color-2: #313131;
  --modal-bg-color: #212121;
  --border-color: rgba(255, 255, 255, 0.12);
  --secondary-text-color: #999;
  --secondary-text-dark: #ccc;
  --accent-color: #ed4956;
  --button-hover-color: #0081d4;
  --scrollbar-color: #666;
  --hover-bg-color: rgba(255, 255, 255, 0.12);
}
